---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Mi blog de Astro aprendizaje";
---
<BaseLayout pageTitle={pageTitle}>


    <p>Aquí es donde publicare sobre mi viaje de aprendizaje Astro.</p>

    <ul>
        <li><a href="/posts/post-1/">Publicacion 1</a></li>
        <li><a href="/posts/post-2/">Publicacion 2</a></li>
        <li><a href="/posts/post-3/">Publicacion 3</a></li>
    </ul>
	
</BaseLayout>